<div *ngFor="let product of products;" class="col-4" style="display: inline-block;">
    <div class="product-grid-item card">
        <div class="product-grid-item-content">
            <div class="img-container">
                <img [src]="'assets/' + product.img" alt="Image" />
            </div>
            <div style="font-size: large; font-weight: bold;">{{product.name}}</div>
            <div>{{product.description}}</div>
            <div style="margin: 0 0 1rem 0; font-size: small; color: #666666;"> <span style="text-decoration: line-through; color: #AAAAAA;">{{product.price}} EGP</span> {{product.price}} EGP </div>
        </div>
        <div class="product-grid-item-bottom">
            <button *ngIf="product.count <= 0" pButton pRipple type="button" label="Add to cart" class="p-button-outlined" icon="pi pi-shopping-cart" iconPos="right" style="color: rgb(62, 104, 151); font-weight: bold; font-size: small; margin-right: 3px; width: 140px; padding: 9px;" (click)="addToCart(product)"></button>
            <div *ngIf="product.count > 0" class="cart-button">
                <button pButton pRipple type="button" icon="pi pi-minus" class="p-button-sm p-button-rounded p-button-text" style="color: rgb(62, 104, 151);" (click)="minus(product)"></button>
                <!-- <span style="padding: 0px 15px;"> 2 </span> -->
                <button pButton pRipple type="button" class="p-button p-button-text" style="color: rgb(62, 104, 151); padding: 6px 15px;" [disabled]="'true'"> {{product.count}} </button>
                <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-sm p-button-rounded p-button-text" style="color: rgb(62, 104, 151);" (click)="plus(product)"></button>
            </div>    
            <button pButton type="button" icon="pi pi-star" class="p-button p-button-warning" style="margin-left: 3px; font-size: small; padding: 9px;" [style]="product.fav?'color: white':'background-color: white; color: rgb(251, 192, 45);'" (click)="addToFav(product)"></button>
        </div>
    </div>
</div>
