<div class="myPadding" style="background-color: rgb(35, 48, 62); color: white; padding-top: 40px; padding-bottom: 25px;">
  <h2 style="margin-bottom: 5px; font-weight: bold;">ammzon</h2>
  <p style="margin-bottom: 50px; font-size: small;">Your Satisfaction is our Top Priority!</p>
  <button pButton pRipple type="button" label="Shop" class="p-button-text" style="font-size: small; color: white; padding: 0px; margin-right: 35px;" icon="pi pi-tag"></button>
  <button pButton pRipple type="button" label="Cart" class="p-button-text" style="font-size: small; color: white; padding: 0px; margin-right: 35px;" icon="pi pi-shopping-cart"></button>
  <button pButton pRipple type="button" label="Wishlist" class="p-button-text" style="font-size: small; color: white; padding: 0px; margin-right: 35px;" icon="pi pi-star"></button>
  <button pButton pRipple type="button" label="Login" class="p-button-text" style="font-size: small; color: white; padding: 0px; margin-right: 35px;" icon="pi pi-sign-in"></button>
</div>

<div class="myPadding" style="padding-top: 10px; padding-bottom: 10px; border: 1px solid gainsboro;">
  <p-breadcrumb [model]="items"></p-breadcrumb>
</div>

<div class="myPadding" style="padding-top: 80px; padding-bottom: 80px;">
  <router-outlet></router-outlet>
</div>

<div class="myPadding" style="background-color: rgb(35, 48, 62); padding-top: 40px; padding-bottom: 100px; color: white;">
  <p>© ammzon 2021</p>
</div>

<!-- padding: 40px 300px 25px 300px; -->